<!DOCTYPE html>
<html ng-app="TodoApp" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-Do App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

    <section class="todoCont" ng-controller="TodoController as taskList">
        <h1>TODO List</h1>
        <p>A Place to store the things you have to do!</p>
        <input type="text" placeholder="Filter your to-dos..">
        <div class="taskList" ng-repeat="item in taskList.tasks">
            <form>
                <p>{{ $index + 1 }}.</p>
                <button type="button" id="completeBtn" ng-if="item.completed === false">Complete</button>
                <p ng-class="{'complete': item.completed === true, 'incomplete': item.completed === false}">{{ item.task }}</p>
            </form>
            <i ng-click="taskList.deleteTask()" id="deleteBtn" class="material-icons">clear</i>
        </div>
        <input type="text" placeholder="Add your to-do..">
        <button id="addBtn" type="button">Add</button>
    </section>

    <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
</body>

</html>