<!DOCTYPE html>
<html ng-app="TodoApp" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-Do App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

    <section class="todoCont" ng-controller="TodoController as taskList">
        <h1>TODO List</h1>
        <p>A Place to store the things you have to do!</p>
        <input type="text" ng-model="taskList.search" placeholder="Filter your to-dos..">
        <div class="taskList" ng-repeat="item in taskList.tasks | filter: taskList.search">
            <form id="taskForm">
                <p>{{ $index + 1 }}.</p>
                <button type="button" id="completeBtn" ng-click="taskList.completeTask($index)" ng-if="item.completed === false">Complete</button>
                <p ng-class="{'complete': item.completed === true, 'incomplete': item.completed === false}">{{ item.task }}</p>
            </form>
            <div id="btnCont">
                <button type="button" id="editBtn" ng-click="taskList.editItem($index, item);">Edit</button>
                <i ng-click="taskList.deleteTask($index)" id="deleteBtn" class="material-icons">clear</i>
            </div>
        </div>
        <input type="text" ng-model="taskList.tasks.task" placeholder="Add your to-do..">
        <button id="addBtn" ng-click="taskList.addTask(taskList.tasks.task);" type="button">Add</button>
        <form ng-submit="taskList.updateItem(taskList.tempIndex, taskList.tempItem);" ng-show="taskList.showForm">
            <input id="updateInp" type="text" ng-model="taskList.tempItem.task" placeholder="Update task..">
            <button id="updateBtn">Update</button>
        </form>

    </section>

    <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
</body>

</html>